.link-a {
  transition: all 0.5s;
  text-decoration: none;
  color: #fff;
}

.clients-img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.clients-list-section {
  /* max-width: 1200px; */
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(to right top, #097bea, #2f78da, #4074ca, #4b71ba, #526eab, #3b6da1, #286a95, #1c6787, #006272, #005c59, #15533e, #2b4926);
  text-align: center;
}

.clients-list-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.main-clients {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 30px 15px 0px 15px;
}

@media (max-width: 600px) {
  .main-clients {
      grid-template-columns: 1fr 1fr;
      gap: 15px;
  }
}

.clients-list-header {
  width: 70%;
  padding-top: 70px;
  margin: 0 auto;
}

.clients-list-h1 {
  margin: 0;
  font-size: 50;
  color: #fff;
  font-weight: 500;
}

.clients-card {
  position: relative;
  overflow: hidden;
  max-height: 300px;
  height: 100%;
  box-shadow: 0 2px 10px #ccc;
  transition: all 0.5s;
}

@media (max-width: 600px) {
  .clients-card {
    height: 200px;
    width: 200px;
      grid-template-columns: 1fr 1fr;
      margin: 10px 5px 0px 5px;
  }
}

.clients-card:hover {
  box-shadow: 0 2px 10px #ccc;
  transition: all 0.5s;
}

.clients-card:hover img {
  transform: scale(1.1);
  transition: all 0.4s;
}

.client-content {
  position: absolute;
  left: 0;
  bottom: -45px;
  width: 100%;
  color: #fff;
  padding: 10px 5px;
  background: linear-gradient(45deg, rgb(41, 21, 153) 0%, rgba(144,192,229,0.4) 100%);
  transition: all 0.5s;
}

.client-content:hover {
  bottom: 0;
  transition: all 0.5s;
}

/* .email-content-a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(227, 227, 235);
}

.email-content-a:hover {
  text-decoration: underline;
  color: #fff;
} */

.client-content-btn {
  display: block;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 3px;
  font-weight: 400; 
  text-decoration: none;
}

.client-content-btn:hover {
  background: rgb(96, 122, 171);
  transition: all 0.5s;
  text-decoration: none;
}

.client-name {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.client-p {
  margin: 10px;
  color: #fff;
}





/* .clients-container {
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(224, 223, 230);
  }
  
  .clients-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 16px;
    padding: 0 50px;
  }
  
  .clients-card {
    background: #fdfcfd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    max-height: 340px;
    padding: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
  }
  
  .clients-img {
    height: 120px;
    width: 160px;
    margin-bottom: 10px;
  }
  
  .clients-h1 {
    font-size: 2.5rem;
    color: rgb(5, 5, 5);
    margin-top: 64px;
    margin-bottom: 64px;
  }
  
  .clients-h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .clients-p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .clients-profile-btn {
    border-radius: 50px;
    background: rgba(107, 152, 221, 0.918);
    white-space: nowrap;
    padding: 6px 20px;
    color: #010606;
    font-size: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }
  
  .btn-link {
    text-decoration: none;
    color: #010606;
  } */
  