
.link-a {
  transition: all 0.5s;
  text-decoration: none;
  color: #fff;
}

.trainers-img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.section-trainer {
  height: 100vh;
  padding: 70px 0;
  margin-top: 0px;
  background-image: linear-gradient(to right top, #097bea, #2f78da, #4074ca, #4b71ba, #526eab, #3b6da1, #286a95, #1c6787, #006272, #005c59, #15533e, #2b4926);
  text-align: center;
}

.trainers-list-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.main-trainers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 30px 15px 0px 15px;
}

@media (max-width: 600px) {
  .main-trainers {
      grid-template-columns: 1fr 1fr;
      gap: 15px;
  }
}

.trainers-header {
  width: 70%;
  margin: 0 auto;
}

.heading-1 {
  margin: 0;
  font-size: 50;
  color: #fff;
  font-weight: 500;
}

.parag-info {
  margin: 10px;
  color: #fff;
}

.trainers-card {
  position: relative;
  overflow: hidden;
  max-height: 300px;
  height: 100%;
  box-shadow: 0 2px 10px #ccc;
  transition: all 0.5s;
}

@media (max-width: 600px) {
  .trainers-card {
    height: 200px;
    width: 200px;
      grid-template-columns: 1fr 1fr;
      margin: 10px 5px 0px 5px;
  }
}

.trainers-card:hover {
  box-shadow: 0 2px 10px #ccc;
  transition: all 0.5s;
}

.trainers-card:hover img {
  transform: scale(1.1);
  transition: all 0.4s;
}

.blog-content {
  position: absolute;
  left: 0;
  bottom: -45px;
  width: 100%;
  color: #fff;
  padding: 10px 5px;
  background: linear-gradient(45deg, rgb(41, 21, 153) 0%, rgba(144,192,229,0.4) 100%);
  transition: all 0.5s;
}

.blog-content:hover {
  bottom: 0;
  transition: all 0.5s;
}

.email-content-a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(227, 227, 235);
}

.mail-icon {
  margin: 0 0.45rem;
  color: rgb(73, 175, 69);
}
.mail-icon:hover {
  margin: 0 0.45rem;
}

.email-content-a:hover {
  text-decoration: underline;
  color: #fff;
}

.blog-content-btn {
  display: block;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 3px;
  font-weight: 400; 
  text-decoration: none;
}

.blog-content-btn:hover {
  background: rgb(96, 122, 171);
  transition: all 0.5s;
  text-decoration: none;
}



.blog-content-h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

/* .blog-content-h3-span {
  display: block;
  font-size: 60%;
  margin-top: 5px;
  font-weight: 600;
  color: rgba(52,73,94,1);
} */

