.t-info-container {
  height: 100vh;
  padding: 90px 0;
  background-image: linear-gradient(to right top, #097bea, #2f78da, #4074ca, #4b71ba, #526eab, #3b6da1, #286a95, #1c6787, #006272, #005c59, #15533e, #2b4926);
  text-align: center;
}

.t-info-wrapper {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.t-info-card {
  background: #e8e7ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  max-height: 340px;
  padding: 30px;
  transition: all 0.2s ease-in-out;
}

.t-info-card:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

@media (max-width: 600px) {
  .t-info-card {
    height: 300px;
    width: 300px;
  }
}

.t-info-img {
  height: 400px;
  width: 400px;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.t-info-img:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

@media (max-width: 600px) {
  .t-info-img {
    height: 300px;
    width: 300px;
  }
}

.t-info-h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .t-info-h1 {
    font-size: 1.5rem;
    /* margin-bottom: 10px; */
  }
  .t-info-contact {
    font-size: 0.5rem;
    /* font-weight: 500; */
    text-decoration: none;
    color: rgb(5, 57, 15);
  }
}

.t-info-p {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 500;
}
@media (max-width: 600px) {
  .t-info-p {
    font-size: 1rem;
    text-align: center;
    /* margin-bottom: 15px; */
    /* font-weight: 500; */
  }
}

.t-info-contact {
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(5, 57, 15);
}

.ti-email {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(5, 57, 15);
}

.ti-email:hover {
  font-size: 20px;
  font-weight: 500;
  color: rgb(34, 172, 64);
  text-decoration: underline;
}

.ti-p {
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(5, 57, 15);
}


@media (max-width: 600px) {
  .ti-p {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(5, 57, 15);
  }
}

.ti-icon {
  margin: 0 0.45rem ;
}
