.category-links {
    display: flex;
    justify-content: center;
    align-items: center;
}


button.catch-links1 {
    background: rgb(90, 133, 90);
    border: 1px solid white;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-left: 10px;
    cursor: pointer;
}
button.catch-links2 {
    background: rgb(61, 88, 197);
    border: 1px solid white;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-left: 10px;
    animation-delay: 3s;
    cursor: pointer;
}

button {
    margin: 0 15px;
    width: 120px;
    height: 50px; 
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    color: fff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: .7px;
    background-image: linear-gradient(top, #ffffff33 1px, #ffffff00 1px, #0000001a 100%);
    box-shadow: 0 50px 12px -18px rgba(0,0,0,0.1), 0 60px 20px -12px rgba(0,0,0,0.1);
    animation: anime 1s infinite ease-in-out alternate;
    -webkit-animation: anime 1s infinite ease-in-out alternate;
}

button.catch-links2 {
    animation-delay: 1s;
}

@keyframes anime {
    100% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        box-shadow: 0 40px 10px -18px rgba(0,0,0,0.2), 0 40px 16px -12px rgba(0,0,0,0.2);
    }
}